language: python
python:
  - "3.6"

install:
  - pip install -r requirements.txt

script: true
  - nosetests --with-coverage --coverage report

script:
  - python TestCalculator.py

deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_API_KEY
  app: software-engineering-git
  on:
    repo: adkevin3307/software_engineering_git
  run:
    "web: gunicorn manage:app"